<<!doctype html>
    <html lang="en">

    <head>
        <title>Modificacion de Clientes</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS v5.2.1 -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

        <link rel="stylesheet" href="./CSS/clientes.css">
        <link rel="icon" type="image/png" href="./imagenes/icon.png">

    </head>

    <body id="body">
        <header id="header">
            <!-- place navbar here -->
        </header>
        <main>
            <div class="container" id="app">
                <!--<form style="background-color: aliceblue;margin:10px auto ; width: 400px; padding: 20px;">-->
                <form id="form">
                    <h1 id="editar"> Editar Cliente </h1>
                    <p>Modificaras:{{nomape}}</p>
                    <div class="mb-3">
                        <label for="id">Id</label>
                        <input type="number" name="id" id="id" disabled v-model="id">
                    </div>
                    <div class="mb-3">
                        <label for="nomape">Nombre y Apellido</label>
                        <input type="text" name="nomape" id="nomape" v-model="nomape" required>
                    </div>
                    <div class="mb-3">
                        <label for="edad">Edad</label>
                        <input type="number" name="edad" id="edad" v-model="edad">
                    </div>
                    <div class="mb-3">
                        <label for="dni">DNI</label>
                        <input type="number" name="dni" id="dni" v-model="dni" required>
                    </div>
                    <div class="mb-3">
                        <label for="direccion">Direccion</label>
                        <input type="text" name="direccion" id="direccion" v-model="direccion" required>
                    </div>
                    <div class="mb-3">
                        <label for="sueldo">Presupuesto</label>
                        <input type="number" name="sueldo" id="sueldo" v-model="sueldo">
                    </div>
                    <div class="mb-3">
                        <label for="imagen">Imagen</label>
                        <input type="text" name="imagen" id="imagen" v-model="imagen">
                        <img width="100" :src="imagen" alt="">
                    </div>
                    <button id="button" type="button" class="btn btn-success" v-on:click="modificar()">Grabar</button>
                </form>
            </div>
        </main>
        <footer>
            <a class="redsoc" href="https://www.twitter.com" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a class="redsoc" href="https://www.facebook.com/profile.php?id=100068077059952" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a class="redsoc" href="https://www.whatsapp.com" target="_blank"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
            <a class="redsoc" href="https://www.instagram.com/lgt_performance" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a class="redsoc" href="https://www.linkedin.com" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            <br>
            <h6>GRUPO 2 - Márquez Alvaro / Félix Nobile / Anna Fragalá / Sergio Gil / Priscila Cali </h6>
            <p>
                Sitio web editado por GRUPO2 - Copyright ® 2023
            </p>
            <!-- place footer here -->
        </footer>
        <!-- Bootstrap JavaScript Libraries -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
        </script>
        <script src="./js/main.js"></script>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="./js/cliente_editar.js"></script>
    </body>

    </html>